<div class='panel panel-primary'>

  <div class='panel-heading'>
    <h3>Vehicle List</h3>
  </div>

  <div class='panel-body'>

    <form class='form-horizontal'>

      <div class="col-md-4 well">
        <label for="make">Make</label>
        <select id="make" class="form-control" name="make" [(ngModel)]="query.makeId" (change)="onFilterChange()">
          <option value=""></option>
          <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
        </select>
        <br>
        <button class="btn btn-default" (click)="resetFilter()">Reset</button>
      </div>

      <br *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]">

      <div class="table-responsive">
        <p *ngIf="auth.isAuthenticated()">
          <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
        </p>
        <br>
        <br>

        <table class="table" *ngIf='queryResult.items && queryResult.items.length'>
          <thead>
            <tr>
              <th *ngFor="let c of columns">
                <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
                  {{ c.title }}
                  <i *ngIf="query.sortBy === c.key" class="fa" [class.fa-sort-asc]="query.isSortAscending" [class.fa-sort-desc]="!query.isSortAscending">
                  </i>
                </div>
                <div *ngIf="!c.isSortable">{{ c.title }}</div>
              </th>
            </tr>

            <tr *ngFor='let vehicle of queryResult.items'>
              <td>
                <a [routerLink]="['/vehicles/', vehicle.id]">{{ vehicle.id }}</a>
              </td>
              <td>{{ vehicle.make.name }}</td>
              <td>{{ vehicle.model.name }}</td>
              <td>{{ vehicle.contact.name }}</td>
              <td>
                <a [routerLink]="['/vehicleView/', vehicle.id]">View</a>
              </td>
            </tr>
          </thead>
        </table>
      </div>

      <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>

    </form>

  </div>
</div>