<div>

  <div class='panel panel-primary'>

    <div class='panel-heading'>
      <h4>New Vehicle</h4>
    </div>

    <div class='panel-body'>
      <form class="form-horizontal">

        <div class='row'>
          <div class="form-group">
            <label class="col-md-2 control-label" for="make">Make</label>
            <div class="col-md-6">
              <select id="make" name="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.make">
                <option value=""></option>
                <option *ngFor="let m of makes"
                        value="{{ m.id }}">
                {{ m.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class="form-group">
            <label class="col-md-2 control-label" for="model">Model</label>
            <div class="col-md-6">
              <select id="model" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let m of models"
                          value="{{ m.id }}">
                  {{ m.name }}
                  </option>
                </select>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class="form-group">
          </div>
        </div>

        <div class="form-check">
          <label class="control-label">
              <h4>Is this vehicle registered</h4>
          </label>
          <div class="row">
            <label class="col-md-offset-1 radio-inline" for="registered">
                <input type="radio" id="registered" value="true" name="registered" checked>Yes
            </label>
              <label class="radio-inline" for="notRegistered">
                <input type="radio" id="notRegistered" value="false" name="registered">No
            </label>
          </div>
        </div>

        <div class="form-check">
          <label class="control-label">
            <h4>Features</h4>
          </label>
          <div class="row" *ngFor="let f of features">
            <label class="col-md-offset-1 form-check-label">
              <input class="form-check-input" 
                     type="checkbox"
                     id="feature{{ f.id }}">
              {{ f.name }}
            </label>
          </div>
        </div>

      </form>
    </div>

  </div>

</div>