<div>

  <div class="panel panel-primary">

    <div class="panel-heading">
      <div class="panel-title">
        <h4>New Vehicle</h4>
      </div>
    </div>

    <span> {{vehicle | json }} </span>

    <div class="panel-body">
      <form class="form-horizontal">

        <div class="row">
          <div class="form-group">
            <label class="col-md-2 control-label" for="make">Make</label>
            <div class="col-md-6">
              <select id="make" 
                      name="makeId" 
                      class="form-control" 
                      (change)="onMakeChange()" 
                      [(ngModel)]="vehicle.makeId">
                <option value=""></option>
                <option *ngFor="let m of makes" value="{{ m.id }}">
                  {{ m.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label class="col-md-2 control-label" for="model">Model</label>
            <div class="col-md-6">
              <select id="model"
                      name="modelId"
                      class="form-control"
                      [(ngModel)]="vehicle.modelId">
                <option value=""></option>
                <option *ngFor="let m of models" value="{{ m.id }}">
                  {{ m.name }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-check">
          <label class="control-label">
            <h4>Is this vehicle registered</h4>
          </label>
          <div class="row">
            <label class="col-md-offset-1 radio-inline" for="registered">
              <input type="radio" 
                     id="registered" 
                     value="true" 
                     name="isRegistered" 
                     [(ngModel)]="vehicle.isRegistered" 
                     checked>Yes
            </label>
            <label class="radio-inline" for="notRegistered">
              <input type="radio" 
                     id="notRegistered" 
                     value="false" 
                     name="isRegistered"
                     [(ngModel)]="vehicle.isRegistered">No
            </label>
          </div>
        </div>

        <div class="form-check">
          <label class="control-label">
            <h4>Features</h4>
          </label>
          <div class="row" *ngFor="let f of features">
            <label class="col-md-offset-1 form-check-label">
              <input class="form-check-input" 
                     type="checkbox" 
                     id="feature{{ f.id }}"
                     (change)="onFeatureToggle(f.id, $event)"> {{ f.name }}
            </label>
          </div>
        </div>

        <div class="form-check">
          <label class="control-label">
            <h4>Contact</h4>
          </label>
          <div class="row">
            <div class="form-group">
              <label class="col-md-2 control-label" for="contactName">Name</label>
              <div class="col-md-4">
                <input type="text" 
                       class="form-control" 
                       id="contactName"
                       [(ngModel)]="vehicle.contact.name"
                       name="contactName" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="col-md-2 control-label" for="contactPhone">Phone</label>
              <div class="col-md-4">
                <input type="tel" 
                       class="form-control" 
                       id="contactPhone"
                       [(ngModel)]="vehicle.contact.phone"
                       name="contactPhone" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label class="col-md-2 control-label" for="contactEmail">Email</label>
              <div class="col-md-4">
                <input type="text"
                       class="form-control" 
                       id="contactEmail"
                       [(ngModel)]="vehicle.contact.email"
                       name="contactEmail" >
              </div>
            </div>
          </div>
        </div>

        <button class="btn btn-primary">Save</button>

      </form>
    </div>

  </div>

</div>