<h1>Vehicle</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item active">
      <a class="nav-link" href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Vehicle</a>
    </li>
    <li role="presentation" class="nav-item">
      <a class="nav-link" href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="vehicle">
    <br>
    <!-- Vehicle tab -->

    <div role="tabpanel" class="tab-pane fade in active" id="basic">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Vehicle Info</h3>
          </div>
        </div>
        <div class="panel-body">
          <h2>Basics</h2>
          <ul>
            <li>
              <label class="label2">Make:</label> {{ vehicle.make.name }}</li>
            <li>
              <label class="label2">Model:</label> {{ vehicle.model.name }}</li>
            <li>
              <label class="label2">Registered:</label> {{ vehicle.isRegistered ? 'Yes' : 'No' }}
          </ul>
          <h2>Features</h2>
          <ul>
            <li *ngFor="let f of vehicle.features">{{ f.name }}</li>
          </ul>
          <h2>Contact</h2>
          <ul>
            <li>
              <label class="label2">Contact Name:</label> {{ vehicle.contact.name }}</li>
            <li>
              <label class="label2">Contact Phone:</label> {{ vehicle.contact.phone }}</li>
            <li>
              <label class="label2">Contact Email:</label> {{ vehicle.contact.email }}</li>
          </ul>
          <br/>
          <p>
            <a *ngIf="auth.isAuthenticated()" class="btn btn-primary" [routerLink]="['/vehicles/', vehicle.id]">Edit</a>
            <button *ngIf="auth.isInRole('admin')" class="btn btn-danger" (click)="delete()">Delete</button>
            <a class="btn btn-default" [routerLink]="['/vehicles']">View All Vehicles</a>
          </p>
        </div>
      </div>
    </div>

    <!-- Photos tab -->
    <div role="tabpanel" class="tab-pane fade in" id="photos">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Photos</h3>
          </div>
        </div>
        <div class="panel-body">
          <input *ngIf="auth.isAuthenticated()" type="file" (change)="uploadPhoto()" #fileInput>
          <div class="progress" *ngIf="progress && progress.percentage < 100 ">
            <div class="progress-bar" [style.width]="progress.percentage + '%' ">
              <span class="sr-only">{{ progress.percentage }}% Complete</span>
            </div>
          </div>
          <img *ngFor="let photo of photos" src="/uploads/{{ photo.fileName }}" class="img-thumbnail">
        </div>
      </div>
    </div>
  </div>
</div>